<mat-card *ngIf="movement$ | async as movement">
  <mat-card-header>
    <mat-card-title>Ver movimiento</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <span>Fecha: </span>
      <span>{{ movement.fecha || movement.date || movement.dueDate }}</span>
    </div>
    <div>
      <span>Concepto: </span>
      <span>{{ movement.concepto || movement.description }}</span>
    </div>
    <div>
      <span>Importe: </span>
      <span>{{ movement.amount || movement.importe }}€</span>
    </div>
    <div>
      <span>Tipo: </span>
      <span>{{ movement.type || movement.tipo }}</span>
    </div>
    <div>
      <span>Subtipo: </span>
      <span>{{ movement.selectType || movement.selector || movement.subtipo || movement.concept }}</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <ng-container>
    </ng-container>
  </mat-card-actions>
</mat-card>
