<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>Lista de movimientos</mat-card-title>
  </mat-card-header>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element; let id = index">{{ id }}</td>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">
        {{ element.fecha || element.dueDate || element.date }}
      </td>
    </ng-container>

    <!-- Concepto Column -->
    <ng-container matColumnDef="concepto">
      <th mat-header-cell *matHeaderCellDef>Concepto</th>
      <td mat-cell *matCellDef="let element">{{ element.concepto || element.concept || element.description }}</td>
    </ng-container>

    <!-- Importe Column -->
    <ng-container matColumnDef="importe">
      <th mat-header-cell *matHeaderCellDef>Importe</th>
      <td mat-cell *matCellDef="let element">{{ element.importe || element.amount }}€</td>
    </ng-container>

    <!-- Ver Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Detalle</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="{{ element._id }}"> Ver </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let id = index;"></tr>
  </table>
</mat-card>
