<form [formGroup]="movementForm" novalidate>
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Nuevo movimiento</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Fecha" formControlName="fecha" [max]="maxDate" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="movementForm.controls['fecha'].hasError('required')">
              Fecha es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="text" matInput placeholder="Concepto" formControlName="concepto" />
            <mat-error *ngIf="movementForm.controls['concepto'].hasError('required')">
              Concepto es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="Importe" formControlName="importe" />
            <mat-error *ngIf="movementForm.controls['importe'].hasError('required')">
              Importe es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="tipo">
            <mat-radio-button value="ingreso">Ingreso</mat-radio-button>
            <mat-radio-button value="gasto">Gasto</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
      <mat-form-field>
        <mat-label>Seleccionar</mat-label>
        <mat-select *ngIf="movementForm.controls['tipo'].value == 'ingreso'" formControlName="subtipo">
          <mat-option *ngFor="let ingreso of ingresos" [value]="ingreso">
            {{ingreso}}
          </mat-option>
        </mat-select>
        <mat-select *ngIf="movementForm.controls['tipo'].value == 'gasto'" formControlName="subtipo">
          <mat-option *ngFor="let gasto of gastos" [value]="gasto">
            {{gasto}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="movementForm.invalid"  (click)="onSubmit()">Enviar</button>
    </mat-card-actions>
  </mat-card>
</form>
