body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    text-align: center;
}

main{
    width: 50%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 10px 20px;
}

header{
    margin-bottom: 50px;
}

button{
    margin: 20px;
    padding: 5px 20px;
    color: navy;
    background-color: aliceblue;
    border-color: navy;
}

button:hover{
    color: aliceblue;
    background-color: navy;
    border-color: aliceblue;
}

section{
    padding: 10px 20px;
}